<mat-toolbar style="background-color: #A03037; color: antiquewhite; display: flex;">
    <img src="../../../assets/education.svg" style="padding: 0px 6px 0px 25px;margin-left: 60px;">
    <span>Bookstore</span>
 </mat-toolbar>

<h1 style="text-align:center;margin-top: 100px;">Forgot Your Password?</h1>

<div fxLayout="row" fxLayoutAlign="center center" > 
    <mat-card class="matcard ">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>
            <h3 style="text-align: center;" >Enter your email address and we'll send you a link to reset your password.</h3>               
            </mat-card-title>
        </div>

        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" > 
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field style="width: 292px; border-radius: 50%;height: 35px;" appearance="outline">
                    <mat-label>EmailId</mat-label>
                    <input matInput  formControlName="email" >
                    <mat-error>Email Required!</mat-error>
                </mat-form-field>

                <div>
                    <button style="color: white;" mat-button class="ResetButton">Reset Password
                    </button>
                </div>
            </div>
        </form>

        <div fxLayout="column" fxLayoutAlign="start start">
            <button (click)="oncreateaccount()" class="Createaccount">Create Account</button>
        </div>
    </mat-card>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
